<template name="admincases">
    <!-- list all laws, clickable for edit and deletion -->
    <!-- Three options for adding new:
         New page with form
         Form on page
         Form appears when "new" button is clicked, replacing the button
    -->
    <p>New page with form</p>
    <p>Form on page</p>
    <p>Form appears when "new" button is clicked, replacing the button</p>

    {{#contentFor "headerTitle"}}
        <h1 class="title">Endre startcases</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton text="Tilbake"}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="padding"}}
            {{> quickForm schema="LawSchema" collection="Laws" id="insertLawForm" type="normal" omitFields="createdAt, lastUpdated"}}
            {{#ionList}}
                <!-- For each item in laws (from the helper, check js file) -->
                {{#each cases}}
                    {{#ionItem path="caseedit" buttonRight=true}}
                        <!-- Paragraph from laws collection -->
                        <p>{{text}}</p>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
