<template name='pathLayout'>
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}
        <!-- Yield is used to get NavView content from the template (other than main layout template) that is active. The active template is the one chosen by the route -->
        {{#ionNavView}}
          {{> yield 'header'}}
          {{#ionView}}
            {{#ionContent}}
              {{> yield 'added'}}
              {{> yield 'add'}}
              {{> yield 'next'}}
              {{> yield 'choices'}}
              {{> yield 'forms'}}
             {{/ionContent}}
          {{/ionView}}
        {{/ionNavView}}
    {{/ionBody}}
</template>

<template name="addedItems">

  {{#if scase}}
  Kategorien du la til
  {{#with addedScase}}
    <h3>{{text}}</h3>
  {{/with}}
  {{/if}}

  {{#if li}}
  Koblinger du har lagt til
  <!-- Koblinger fra startcase har ingen "mark" tekst så vises blanke -->
  {{#each link in addedLinks}}
    <h3>{{link.mark}}</h3>
  {{/each}}
  {{/if}}

  {{#if fil}}
  Spørsmål du har lagt til
  {{#each filter in addedFilters}}
    <h3>{{filter.text}}</h3>
  {{/each}}
  {{/if}}

  {{#if la}}
  Lover du har lagt til
  {{#each law in addedLaws}}
    <h3>{{law.text}}</h3>
  {{/each}}
  {{/if}}

</template>

<template name="addpathHeader">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Legge til en vei</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="home" text="Kanseller"}}
    {{/contentFor}}
</template>

<template name="caseadd">
  Add the starting point:
  {{> quickForm schema="StartcaseSchema" collection="Startcases" id="insertStartcaseForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="pathButtons">
  {{#if showQ}}
    <button class="button connectQ">Link til Ja/Nei spørsmål</button>
  {{/if}}
  <button class="button connectN">Link til spørsmål med flere utfall</button>
  <button class="button connectL">Link til lov</button>
</template>

<template name="chooseL">
            {{#ionList}}
                {{#each category}}
                    <div class="item item-divider text-center" style="border-bottom: 3px; border-bottom-style: solid; border-bottom-color: blue;">{{this}}</div>
                    {{#each categoryLaws this}}
                        {{#ionItem buttonRight=true id='chooseL'}}
                            <h3>{{paragraph}}</h3>
                            <button class="button lawChooser" id="{{paragraph}}">Choose</button>
                        {{/ionItem}}
                    {{/each}}
                {{/each}}
                  {{#if addingLaw}}
                    <div class="item item-divider text-center" style="border-bottom: 3px; border-bottom-style: solid; border-bottom-color: blue;">Legg til ny lov</div>
                    {{> quickForm schema="LawSchema" collection="Laws" id="insertLawPathForm" type="normal" omitFields="createdAt, lastUpdated"}}
                  {{else}}
                    <button class="button addLawButton">
                        {{> ionIcon icon="plus"}}
                    </button>
                  {{/if}}
            {{/ionList}}
</template>

<template name="itemToAdd">
  Neste svar som skal linkes er: {{next}}
</template>

<template name="addFirstQ">
  {{> quickForm schema="FilterSchema" collection="Filters" id="insertFirstFilterForm" doc=default type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addQ">
  {{> quickForm schema="FilterSchema" collection="Filters" id="insertFilterForm" doc=default type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addN">
  {{> quickForm schema="NFilterSchema" collection="Filters" id="insertFilterNForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addMarks">
  {{> quickForm schema="MarkSchema" id="insertMarkForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="answerOptions">
  Legg til svaralternativer
</template>

<template name='blank'>
  <p></p>
</template>


<template name="successHeader">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Success</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="home" text="Hjem"}}
    {{/contentFor}}
</template>

<template name='success'>
  {{#ionView}}
    {{#ionContent}}
      <h2>Du la til en vei!</h2>
    {{/ionContent}}
  {{/ionView}}
</template>