<template name="editLayout">
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">Admin konfigurasjon</h1>
        {{/contentFor}}

        {{#contentFor "headerButtonLeft"}}
            {{>ionNavBackButton text="Tilbake"}}
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                {{#if Template.subscriptionsReady}}
                    {{> yield "add"}}
                    {{> yield "edit"}}
                {{else}}
                    {{> spinner}}
                {{/if}}
            {{/ionContent}}
        {{/ionView}}
    {{/ionBody}}
</template>

<template name="editcase">
        {{> quickForm schema="StartcaseSchema" collection="Startcases" id="editStartcaseForm" type="normal" doc=selectedDoc}}
</template>

<template name="editfilter">
        {{> quickForm schema="FilterSchema" collection="Filters" id="editFilterForm" type="normal" doc=selectedDoc}}
</template>

<template name="editlink">
        {{> quickForm schema="LinkSchema" collection="Links" id="editLinkForm" type="normal" doc=selectedDoc}}
</template>

<template name="editinfo">
        {{> quickForm schema="InfoSchema" collection="Infos" id="editInfoForm" type="normal" doc=selectedDoc}}
</template>

<template name="editlaw">
        {{> quickForm schema="LawSchema" collection="Laws" id="editLawForm" type="normal" doc=selectedDoc}}
</template>

<template name="editurl">
        {{> quickForm schema="UrlSchema" collection="Urls" id="editUrlForm" type="normal" doc=selectedDoc}}
</template>

<template name="editnumber">
        {{> quickForm schema="NumberSchema" collection="Numbers" id="editNumberForm" type="normal" doc=selectedDoc}}
</template>

<template name="addlaw">
    {{> quickForm schema="LawSchema" collection="Laws" id="insertLawForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addlink">
    {{> quickForm schema="LinkSchema" collection="Links" id="insertLinkForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addfilter">
    {{> quickForm schema="FilterSchema" collection="Filters" id="insertFilterForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addurl">
    {{> quickForm schema="UrlSchema" collection="Urls" id="insertUrlForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addinfo">
    {{> quickForm schema="InfoSchema" collection="Infos" id="insertInfoForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addcase">
    {{> quickForm schema="StartcaseSchema" collection="Startcases" id="insertStartcaseForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addnumber">
    {{> quickForm schema="NumberSchema" collection="Numbers" id="insertNumberForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>