<template name="editcase">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Admin konfigurasjon</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton text="Tilbake"}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#if Template.subscriptionsReady}}
                {{> quickForm schema="StartcaseSchema" collection="Startcases" id="editStartcaseForm" type="normal" doc=selectedDoc}}
            {{else}}
                {{> spinner}}
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
</template>