<template name="editLayout">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Admin konfigurasjon</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton text="Tilbake"}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#if Template.subscriptionsReady}}
                {{> yield "edit"}}
            {{else}}
                {{> spinner}}
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
</template>

<template name="editcase">
{{#ionContent}}
        {{> quickForm schema="StartcaseSchema" collection="Startcases" id="editStartcaseForm" type="normal" doc=selectedDoc}}
{{/ionContent}}
</template>

<template name="editfilter">
{{#ionContent}}
        {{> quickForm schema="FilterSchema" collection="Filters" id="insertFilterForm" type="normal" doc=selectedDoc}}
{{/ionContent}}
</template>

<template name="editlink">
{{#ionContent}}
        {{> quickForm schema="LinkSchema" collection="Links" id="insertLinkForm" type="normal" doc=selectedDoc}}
{{/ionContent}}
</template>

<template name="editinfo">
{{#ionContent}}
        {{> quickForm schema="InfoSchema" collection="Infos" id="editInfoForm" type="normal" doc=selectedDoc}}
{{/ionContent}}
</template>

<template name="editlaw">
{{#ionContent}}
        {{> quickForm schema="LawSchema" collection="Laws" id="insertLawForm" type="normal" doc=selectedDoc}}
{{/ionContent}}
</template>