<template name='pathLayout'>
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}
        <!-- Yield is used to get NavView content from the template (other than main layout template) that is active. The active template is the one chosen by the route -->
        {{#ionNavView}}
          {{> yield 'header'}}
          {{#ionView}}
            {{#ionContent}}
              {{> yield 'add'}}
              {{> yield 'next'}}
              {{> yield 'choices'}}
              {{> yield 'forms'}}
             {{/ionContent}}
          {{/ionView}}
        {{/ionNavView}}
    {{/ionBody}}
</template>


<template name="addpathHeader">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Legge til en vei</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="home" text="Kanseller"}}
    {{/contentFor}}
</template>

<template name="caseadd">
  Add the starting point:
  {{> quickForm schema="StartcaseSchema" collection="Startcases" id="insertStartcaseForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="pathButtons">
  {{#if showQ}}
    <button class="button connectQ">Link til Ja/Nei spørsmål</button>
  {{/if}}
  <button class="button connectN">Link til spørsmål med flere utfall</button>
  <button class="button connectL">Link til lov</button>
</template>

<template name="chooseL">
            {{#ionList}}
                {{#each category}}
                    <div class="item item-divider text-center" style="border-bottom: 3px; border-bottom-style: solid; border-bottom-color: blue;">{{this}}</div>
                    {{#each categoryLaws this}}
                        {{#ionItem buttonRight=true id='chooseL'}}
                            <h3>{{paragraph}}</h3>
                            <button class="button lawChooser" id="{{paragraph}}">Choose</button>
                        {{/ionItem}}
                    {{/each}}
                {{/each}}
                    <a href="{{pathFor 'add.law'}}" class="button">
                        {{> ionIcon icon="plus"}}
                    </a>
            {{/ionList}}
</template>

<template name="itemToAdd">
  Neste svar som skal linkes er: {{next}}
</template>

<template name="addFirstQ">
  {{> quickForm schema="FilterSchema" collection="Filters" id="insertFirstFilterForm" doc=default type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addQ">
  {{> quickForm schema="FilterSchema" collection="Filters" id="insertFilterForm" doc=default type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addN">
  {{> quickForm schema="FilterSchema" collection="Filters" id="insertFilterNForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="addMarks">
  {{> quickForm schema="MarkSchema" id="insertMarkForm" type="normal" omitFields="createdAt, lastUpdated"}}
</template>

<template name="answerOptions">
  Legg til svaralternativer
</template>

<template name='blank'>
  <p></p>
</template>


<template name="successHeader">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Success</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="home" text="Hjem"}}
    {{/contentFor}}
</template>

<template name='success'>
  {{#ionView}}
    {{#ionContent}}
      <h2>Du la til en vei!</h2>
    {{/ionContent}}
  {{/ionView}}
</template>