<template name='endLayout'>
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}

        {{#ionNavView}}
            {{> _tabsHeader}}
            {{#ionView}}
                {{>toptabs}}
                {{#if Template.subscriptionsReady}}
                    {{#HammerTouchArea gestureMap=templateGestures}}
                        <div class="endSwipe">
                            {{#ionContent class="has-tabs-top end"}}
                                {{>yield "tabTemplate"}}
                            {{/ionContent}}
                        </div>
                    {{/HammerTouchArea}}
                {{else}}
                    {{> spinner}}
                {{/if}}
                {{>mtabs}}
            {{/ionView}}
        {{/ionNavView}}
    {{/ionBody}}
</template>

<template name='toptabs'>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            {{#if One}}
                <a class="tab-item active" id="one">
                    Eksempel
                </a>
            {{else}}
                <a class="tab-item" id="one">
                    Eksempel
                </a>
            {{/if}}
            {{#if Two}}
                <a class="tab-item active" id="two">
                    Lov
                </a>
            {{else}}
                <a class="tab-item" id="two">
                    Lov
                </a>
            {{/if}}
            {{#if Three}}
                <a class="tab-item active" id="three">
                    Dokumentasjon
                </a>
            {{else}}
                <a class="tab-item" id="three">
                    Dokumentasjon
                </a>
            {{/if}}
        </div>
    </div>
</template>

<template name='example'>
    {{#with thisLaw}}
        <h3 class="text-center">Eksempel på bruk av: </h3>
        <h4 class="text-center">{{law}}, {{paragraph}}</h4>
        <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
        <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
        <p style="padding-left: 1em; padding-right: 1em;">{{example}}</p>
    {{/with}}
</template>

<template name='tlaw'>
    {{#with thisLaw}}
        <div class="button button-full button-positive disabled" style="opacity: 100; background-color: #F3BF42; border-style: none; padding-top: 0.5em; padding-bottom: 0.5em;">
            <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
            <h5 style="color:black; text-transform: uppercase;">{{oneline}}</h5>
        </div>
        <h3 class="text-center">{{law}}</h3>
        <h4 class="text-center">{{paragraph}}</h4>
        <!--<div class="bar bar-positive">-->
        <p style="padding-left: 1em; padding-right: 1em;">{{text}}</p>
    {{/with}}
</template>

<template name='documentation'>
    {{#with thisLaw}}
        <h3 class="text-center">Dokumentasjon til: </h3>
        <h4 class="text-center">{{law}}, {{paragraph}}</h4>
        {{#if choices}}
            <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
            <p style="padding-left: 1em; padding-right: 1em;"><b>Valg du har tatt</b></p>
            <ul style="list-style: dics;">
                {{#each item in path}}
                    <li style="padding-left: 1em; padding-right: 1em;">{{item.question}} {{item.answer}}</li>
                {{/each}}
            </ul>
        {{/if}}
        <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
        <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
        <p style="padding-left: 1em; padding-right: 1em;"><b>Viktig Informasjon</b></p>
        <p style="padding-left: 1em; padding-right: 1em;">{{summary}}</p>
        <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
        <h3 class="text-center">Relevante dokumenter</h3>
        {{#if anyRelated}}
            <div class="list item-button-right">
                {{#each doc in relatedDocs}}
                    <li class="item item-checkbox" style="border-right-width: 0;">
                        <label class="checkbox">
                            <input type="checkbox" id="{{doc}}" check="{{isChecked}}" name="group">
                        </label>
                        <div class="item-content" id="{{doc}}">{{doc}}</div>
                    </li>
                    <button class="button openDoc" id="{{doc}}"> Åpne</button>
                {{/each}}
            </div>
            <button class="button button-block button-positive" id="send">SEND</button>
        {{else}}
            {{#ionList}}
                {{#ionItem}}
                    <p style="padding-left: 1em; padding-right: 1em;">Ingen dokumenter å vise</p>
                {{/ionItem}}
            {{/ionList}}
        {{/if}}
    {{/with}}
</template>

<template name="topTabsLayout">
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}

        {{#ionNavView}}
            {{> yield}}
        {{/ionNavView}}
    {{/ionBody}}
</template>


<template name="_tabsHeader">
    {{#ionHeaderBar class="bar-positive"}}
        {{>ionNavBackButton text="Tilbake"}}
        {{#with case}}
            <h1 class="title">{{text}}</h1>
        {{/with}}
    {{/ionHeaderBar}}
</template>
