<template name='endLayout'>
    {{> _tabsHeader}}
    {{#ionView}}
        {{>tetabs}}
        {{#if Template.subscriptionsReady}} 
            {{>triple}}
        {{else}}
            {{> spinner}}
        {{/if}}
       {{>mtabs}}
    {{/ionView}}
</template>

<template name='toptabs'>
    <div class="tabs tabs-icon-top">
      <a class="tab-item" id="one">
        <i class="icon ion-home"></i>
        Ban
      </a>
      <a class="tab-item" id="two">
        <i class="icon ion-star"></i>
        Allow
      </a>
      <a class="tab-item" id="three">
        <i class="icon ion-heart"></i>
        Require
      </a>
    </div>
</template>

<template name="tetabs">
    {{#ionTabs class="tabs-top tabs-background-positive tabs-color-light"}}
        {{> ionTab title="Eksempel" class="one"}}
        {{> ionTab title="Lov" class="two"}}
        {{> ionTab title="Sammendrag" class="three"}}
    {{/ionTabs}}
</template>

<template name='triple'>

{{#if One}}
    {{#ionContent}}
        {{#with thisLaw}}
            <h2 class="text-center">{{law}}</h2>
            <h3 class="text-center">{{paragraph}}</h3>
            <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
            <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
            <p style="padding-left: 10px; padding-right: 10px;">{{example}}</p>
        {{/with}}
    {{/ionContent}}
{{/if}}

{{#if Two}}
    {{#ionContent}}
        {{#with thisLaw}}
            <h2 class="text-center">{{law}}</h2>
            <h3 class="text-center">{{paragraph}}</h3>
            <!--<div class="bar bar-positive">-->
            <div class="button button-full button-positive disabled" style="opacity: 100;">
                <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
                <h4 style="color:white;">One-liner for lov..</h4>
            </div>
            <p style="padding-left: 10px; padding-right: 10px;">{{text}}</p>
        {{/with}}
    {{/ionContent}}
{{/if}}

{{#if Three}}
    {{#ionContent}}
        {{#with thisLaw}}
            <h2 class="text-center">{{law}}</h2>
            <h3 class="text-center">{{paragraph}}</h3>
            <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
            <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
            <p style="padding-left: 10px; padding-right: 10px;">{{summary}}</p>
            <div class="button button-full button-positive disabled" style="min-height: 3px; opacity: 100;"></div>
            <!-- Rest is dummy -->
            <h3 class="text-center">Relevante dokumenter</h3>
            <div class="list">
                <label class="item item-checkbox">
                    <input type="checkbox" name="group">
                    <div class="item-content">Dokument 1</div>
                    <!-- <i class="checkbox-icon ion-checkmark"></i> -->
                </label>
                <label class="item item-checkbox">
                    <input type="checkbox" name="group">
                    <div class="item-content">Dokument 2</div>
                    <!-- <i class="checkbox-icon ion-checkmark"></i> -->
                </label>
                <div class="button button-block button-positive">SEND</div>
            </div>
        {{/with}}
    {{/ionContent}}
{{/if}}

</template>


