<!-- contentFor means content for the element, in this case "headerTitle" which is one of 3 regions supplied by the IonNavBar. In general ion elements can supply regions where content is displayed if put inside contentFor "regionName" -->

<template name="homeHeader">
{{#contentFor "headerTitle"}}
    <h1 class="title">Kategoriser pasienten</h1>
    
    <!--
    {{#if currentUser}}
        <button class="button button-clear pull-right"> 
            Logget inn som {{username}}
        </button>
    {{else}}
         <a href = "{{pathFor 'login'}}" class="button button-clear pull-right">
            {{> ionIcon icon='navicon'}
}        </a>
    {{/if}} -->
{{/contentFor}}
{{#contentFor "headerButtonRight"}}
    {{> atNavButton}} <p>{{username}}</p>
{{/contentFor}}
</template>



<template name='homeContent'>
    {{#ionView}}
    <!-- pathFor creates a link dynamically based on info from the route.  -->
    <!-- In this case, base version, it refers to the simple route 'new' -->

        <!-- \{{#each}} iterates over over elements in the named object. \{{ (attribute) }} can then be used to get attributes from each element. HTML and ion elements are then used to format and enclose the output content -->
    {{#ionContent}}
            {{#ionList}}
                    <!-- startcases here refers to a helper method in home.js which returns an array of objects -->
                {{#each scase in startcases}}
                    {{#if oneEither scase}}
                        <div class="buttonContainer">
                            {{#with to scase}}
                                    <a href="{{pathFor 'end'}}" level="start" class="button button-full button-large firstLevelButton" id="{{ scase.text }}">
                                        <p>{{scase.text}}</p>
                                    </a>
                                    {{#if currentUser}}
                                        {{#with scase}}
                                        <a href="{{pathFor 'edit.case'}}" class="button pull-right" func="edit">
                                            {{> ionIcon icon="edit"}}
                                        </a>
                                        {{/with}}
                                    {{/if}}
                            {{/with}}
                        </div>
                    {{else}}
                        {{#if twoEither scase}}
                            {{#if notClicked scase.text}}
                                <div class="buttonContainer">
                                    {{#with to scase}}
                                            <button class="button button-full button-large firstLevelButton" level="start" id="{{ scase.text }}">
                                                <p>{{scase.text}}</p>
                                            </button>
                                    {{#if currentUser}}
                                        {{#with scase}}
                                        <a href="{{pathFor 'edit.case'}}" class="button pull-right" func="edit">
                                            {{> ionIcon icon="edit"}}
                                        </a>
                                        {{/with}}
                                    {{/if}}
                                    {{/with}}
                                </div>
                            {{else}}
                                <div class="buttonContainerActive">
                                        <p class="buttonQuestion">{{currentFrom.text}}</p>
                                    {{#with yesLink currentFrom}}
                                        {{#if oneYes currentFrom}}
                                                <a href="{{pathFor 'end'}}" class="button secondLevelButton" level="end">
                                                    <p>JA</p>
                                                </a>
                                        {{else}}
                                            {{#if twoYes currentFrom}}
                                                    <a class="button secondLevelButton" level="inter" id = "{{ text }}">
                                                        <p>JA</p>
                                                    </a>
                                            {{else}}
                                                    <a href = "{{pathFor 'next'}}" class="button secondLevelButton" level="end">
                                                        <p>JA</p>
                                                    </a>
                                            {{/if}}
                                        {{/if}}
                                    {{/with}}
                                    {{#with noLink currentFrom}}
                                        {{#if oneNo currentFrom}}
                                                <a href="{{pathFor 'end'}}" class="button secondLevelButton" level="end">
                                                    <p>NEI</p>
                                                </a>
                                        {{else}}
                                            {{#if twoNo currentFrom}}
                                                    <a class="button secondLevelButton" level="inter" id = "{{ text }}">
                                                        <p>NEI</p>
                                                    </a>
                                            {{else}}
                                                    <a href = "{{pathFor 'next'}}" class="button secondLevelButton" level="end">
                                                        <p>NEI</p>
                                                    </a>
                                            {{/if}}
                                        {{/if}}
                                    {{/with}}
                                </div>
                            {{/if}}
                        {{else}}
                            {{#with to scase}}
                                <div class="buttonContainer">
                                        <a href="{{pathFor 'next'}}" level="start" class="button button-full firstLevelButton" id="{{ scase.text }}">
                                            <p>n > 2 outcomes</p>
                                            <p>{{scase.text}}</p>
                                        </a>
                                    {{#if currentUser}}
                                        {{#with scase}}
                                        <a href="{{pathFor 'edit.case'}}" class="button pull-right">
                                            {{> ionIcon icon="edit"}}
                                        </a>
                                        {{/with}}
                                    {{/if}}
                                </div>
                            {{/with}}
                        {{/if}}
                    {{/if}}
                {{/each}}
            {{#if currentUser}}
            <a href="{{pathFor 'add.case'}}" class="button pull-right" func="add">
                {{> ionIcon icon="plus"}}
            </a>
            {{/if}}
            {{/ionList}}
    {{/ionContent}}
    {{> yield 'footer'}}
{{/ionView}}
</template>

<template name="loading">
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}


        <!-- Yield is used to get NavView content from the template (other than main layout template) that is active. The active template is the one chosen by the route -->
        {{#ionNavView}}
            {{> yield 'header'}}
            {{#ionView}}
                {{#ionContent}}
                    {{> spinner}}
                {{/ionContent}}
            {{> yield 'footer'}}
            {{/ionView}}
        {{/ionNavView}}
    {{/ionBody}}
</template>