
<template name="nextHeader">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton text="Tilbake"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        {{#with case}}
            <h1 class="title">{{text}}</h1>
        {{/with}}
    {{/contentFor}}
</template>

<template name="next">
    {{#ionView}}
        {{#ionContent class="next"}}
            {{#with current}}
                <h4 style="padding-left: 5px; padding-right: 5px;">{{text}}</h4>
                {{#if currentUser}}
                    <a href="{{pathFor 'edit.filter'}}" class="button button-clear editFilter">
                        {{> ionIcon icon="edit"}}
                    </a>
                {{/if}}
            {{/with}}
            {{#ionList}}
                {{#each link in currentLinks}}
                        <div class="buttonContainer">
                            {{#with to link}}
                                {{#if toLaw link}}
                                    <a href = "{{pathFor 'end'}}" class="button button-full firstLevelButton">
                                        <p>{{ link.mark }}</p>
                                    </a>
                                {{else}}
                                    <a href = "{{pathFor 'next'}}" class="button button-full firstLevelButton">
                                        <p>{{ link.mark }}</p>
                                    </a>
                                {{/if}}
                            {{/with}}
                        </div>
                    {{#if currentUser}}
                        {{#with link}}
                        <a href="{{pathFor 'edit.link'}}" class="button button-clear editCase">
                            {{> ionIcon icon="edit"}}
                        </a>
                        {{/with}}
                    {{/if}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{>mtabs}}
    {{/ionView}}
</template>
