
<template name="nextHeader">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton text="Tilbake"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        {{#with case}}
            <h1 class="title">{{text}}</h1>
        {{/with}}
    {{/contentFor}}
</template>

<template name="next">
    {{#ionView}}
        {{#ionContent class="next"}}
            {{#with current}}
                <h4 style="padding-left: 5px; padding-right: 5px;">{{text}}</h4>
            {{/with}}
            {{#ionList}}
                {{#each link in currentLinks}}
                        <div class="buttonContainerActive">
                            {{#with to link}}
                                <a href = "{{pathFor 'end'}}" class="button button-full firstLevelButton">
                                    <p>{{ link.mark }}</p>
                                </a>
                            {{/with}}
                        </div>
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{>mtabs}}
    {{/ionView}}
</template>
