<template name="topTabsLayout">
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}


        <!-- Yield is used to get NavView content from the template (other than main layout template) that is active. The active template is the one chosen by the route -->
        {{#ionNavView}}
            {{> yield}}
        {{/ionNavView}}
    {{/ionBody}}
</template>


<template name="_tabsHeader">
    {{#ionHeaderBar class="bar-positive"}}
        {{>ionNavBackButton text="Tilbake"}}
            {{#with case}}
                <h1 class="title">{{text}}</h1>
            {{/with}}
    {{/ionHeaderBar}}
</template>

<template name="mtabs">
    {{#ionTabs class="tabs-icon-top"}}
        {{> ionTab title="Hjem" path="home" iconOff="ios-home-outline" iconOn="ios-home"}}
        {{> ionTab title="Lover" path="laws" iconOff="ios-book-outline" iconOn="ios-book"}}
        {{> ionTab title="Lenker" path="links" iconOff="ios-world-outline" iconOn="ios-world"}}
        {{> ionTab title="Info" path="info" iconOff="ios-information-outline" iconOn="ios-information"}}
    {{/ionTabs}}
</template>
