<template name="adminlaws">
<!-- list all laws, clickable for edit and deletion -->

  {{#contentFor "headerTitle"}}
    <h1 class="title">Endre lovtekster</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Tilbake"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding"}}
      {{> quickForm schema="LawSchema" collection="Laws" id="insertLawForm" type="normal" omitFields="createdAt, lastUpdated"}}
      {{#ionList}}
        <!-- For each item in laws (from the helper, check js file) -->
        {{#each laws}}
          {{#ionItem path="law" buttonRight=true}}
            <!-- Paragraph from laws collection -->
              <h2>{{law}}</h2>
              <p>{{paragraph}}</p>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
