<template name="adminfilters">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Endre filtere</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Tilbake"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding"}}
      {{> quickForm schema="FilterSchema" collection="Filters" id="insertFilterForm" type="normal" omitFields="createdAt, lastUpdated"}}
        {{#ionList}}
          <!-- For each item in laws (from the helper, check js file) -->
          {{#each filters}}
            {{#ionItem path="filteredit" buttonRight=true}}
            <!-- Paragraph from laws collection -->
              <p>{{text}}</p>
              <p>{{number_of_outcomes}}</p>
            {{/ionItem}}
          {{/each}}
        {{/ionList}}
      {{/ionContent}}
  {{/ionView}}
<!-- list all filters, clickable for edit and deletion -->
</template>
