<!-- The BackButton is connected to the main view through the path  -->

<template name="edit">
  <div class="bar bar-header bar-positive">
    {{>ionNavBackButton path="home" text="Tilbake"}}
    <div class="title">Edit Element</div>
  </div>

<!-- Subscriptions connect the page to collections, can only submit data to collection if subscribed to it -->

  {{#ionView}}
    {{#ionContent class="padding"}}
      {{#if Template.subscriptionsReady}}
        {{> quickForm schema="ElementsSchema" collection="Elements" id="editElementForm" type="normal" doc=selectedDoc omitFields="createdAt, lastUpdated"}}
      {{else}}
        {{> spinner}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
