<template name="infoLayout">
    {{> _infoHeader}}
    {{#ionView}}
        {{>itabs}}
        {{#if Template.subscriptionsReady}} 
            {{>infoTriple}}
        {{else}}
            {{> spinner}}
        {{/if}}
        {{>mtabs}}
    {{/ionView}}
</template>

<template name="_infoHeader">
    {{#ionHeaderBar class="bar-positive"}}
        <h1 class="title">Info</h1>
    {{/ionHeaderBar}}
</template>

<template name='itabs'>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            {{#if One}}
            <a class="tab-item active" id="one">
                Om Appen
            </a>
            {{else}}
            <a class="tab-item" id="one">
                Om Appen
            </a>
            {{/if}}
            {{#if Two}}
            <a class="tab-item active" id="two">
                Hvordan bruke appen
            </a>
            {{else}}
            <a class="tab-item" id="two">
                Hvordan bruke appen
            </a>
            {{/if}}
            {{#if Three}}
            <a class="tab-item active" id="three">
                Vilkår og bruk
            </a>
            {{else}}
            <a class="tab-item" id="three">
                Vilkår og bruk
            </a>
            {{/if}}
        </div>
    </div>
</template>

<template name='infoTriple'>
test
{{#if One}}
    {{#ionContent}}
    test1
        {{#with about}}
            <h1 class="text-center">{{title}}</h1>
            <p class="text-center">{{text}}</p>
        {{/with}}
    {{/ionContent}}
{{/if}}

{{#if Two}}
    {{#ionContent}}
    test2
        {{#with howto}}
            <h1 class="text-center">{{title}}</h1>
            <p class="text-center">{{text}}</p>
        {{/with}}
    {{/ionContent}}
{{/if}}

{{#if Three}}
    {{#ionContent}}
    test3
        {{#with conditions}}
            <h1 class="text-center">{{title}}</h1>
            <p class="text-center">{{text}}</p>
        {{/with}}
    {{/ionContent}}
{{/if}}

</template>

<template name="about">
      {{#ionContent}}
          {{#with about}}
              <h1>{{title}}</h1>
              <p>{{text}}</p>
          {{/with}}
      {{/ionContent}}
</template>

<template name="infoOriginal">
      {{#ionContent}}
          {{#with howto}}
              <h1>{{title}}</h1>
              <p>{{text}}</p>
          {{/with}}
      {{/ionContent}}
</template>

<template name="conditions">
      {{#ionContent}}
          {{#with conditions}}
              <h1>{{title}}</h1>
              <p>{{text}}</p>
          {{/with}}
      {{/ionContent}}
</template>
