<template name="infos">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Informasjon</h1>
    {{/contentFor}}
    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                <!-- For each item in Infos (from the helper, check js file) -->
                {{#each infos}}
                    {{#ionItem path="info" buttonRight=true}}
                        <!-- Text from Infos collection -->
                        <h2>{{title}}</h2>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{>mtabs}}
    {{/ionView}}
</template>


<template name='info'>
    <div class="bar bar-header bar-positive">
        {{>ionNavBackButton text="Tilbake"}}
        <div class="title">{{title}}</div>
    </div>
    {{#ionView}}
        {{#ionContent}}
            {{#with thisInfo}}
                <h1>{{title}}</h1>
                <p>{{text}}</p>
            {{/with}}
        {{/ionContent}}
        {{>mtabs}}
    {{/ionView}}
</template>
