<template name="infoLayout">
    {{> _infoHeader}}
    {{#ionView}}
        {{>itabs}}
        {{#if Template.subscriptionsReady}} 
            {{#HammerTouchArea gestureMap=templateGestures}}
                <div class="infoSwipe">
                    {{#ionContent class="padding has-tabs-top"}}
                        {{>yield "tabTemplate"}}
                    {{/ionContent}}
                </div>
            {{/HammerTouchArea}}
        {{else}}
            {{> spinner}}
        {{/if}}
        {{>mtabs}}
    {{/ionView}}
</template>

<template name="_infoHeader">
    {{#ionHeaderBar class="bar-positive"}}
        <h1 class="title">Info</h1>
    {{/ionHeaderBar}}
    {{#contentFor "headerButtonRight"}}
        {{> atNavButton}} <p>{{username}}</p>
    {{/contentFor}}
</template>

<template name='itabs'>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            {{#if One}}
            <a class="tab-item active" id="one">
                Om Appen
            </a>
            {{else}}
            <a class="tab-item" id="one">
                Om Appen
            </a>
            {{/if}}
            {{#if Two}}
            <a class="tab-item active" id="two">
                Hvordan bruke appen
            </a>
            {{else}}
            <a class="tab-item" id="two">
                Hvordan bruke appen
            </a>
            {{/if}}
            {{#if Three}}
            <a class="tab-item active" id="three">
                Vilkår og bruk
            </a>
            {{else}}
            <a class="tab-item" id="three">
                Vilkår og bruk
            </a>
            {{/if}}
        </div>
    </div>
</template>

<template name='about'>
    {{#with about}}
        <h3 class="text-center">{{title}}</h3>
        <p class="text-center">{{text}}</p>
        <a href="{{pathFor 'edit.info'}}" class="button">
            {{> ionIcon icon="edit"}}
        </a>
    {{/with}}
</template>

<template name='howto'>
    {{#with howto}}
        <h3 class="text-center">{{title}}</h3>
        <p class="text-center">{{text}}</p>
        {{#if currentUser}}
        <a href="{{pathFor 'edit.info'}}" class="button">
            {{> ionIcon icon="edit"}}
        </a>
        {{/if}}
    {{/with}}
</template>

<template name='conditions'>
    {{#with conditions}}
        <h3 class="text-center">{{title}}</h3>
        <p class="text-center">{{text}}</p>
        <a href="{{pathFor 'edit.info'}}" class="button">
            {{> ionIcon icon="edit"}}
        </a>
    {{/with}}
</template>
