<!-- Tentative template for displaying all laws (For shortcut directly to law) -->
<template name="laws">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Lover</h1>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        {{> atNavButton}} <p>{{username}}</p>
    {{/contentFor}}
    {{#ionView}}
        {{#ionContent}}
        {{#if Template.subscriptionsReady}}
            {{#ionList}}
                {{#each category}}
                    <div class="item item-divider text-center" style="border-bottom: 3px; border-bottom-style: solid; border-bottom-color: blue;">{{this}}</div>
                    {{#each categoryLaws this}}
                        {{#ionItem path="law" buttonRight=true id='law'}}
                            <h3>{{paragraph}}</h3>
                        {{/ionItem}}
                    {{/each}}
                {{/each}}
            {{/ionList}}
        {{else}}
            {{> spinner}}
        {{/if}}
        {{/ionContent}}
        {{> mtabs}}
    {{/ionView}}
</template>


<!-- Tentative template for displaying one law -->
<template name='law'>
    <div class="bar bar-header bar-positive">
        {{>ionNavBackButton text="Tilbake"}}
        <div class="title">Lov</div>
    </div>

    {{#ionView}}
        {{#ionContent}}
            {{#if Template.subscriptionsReady}}
            {{#with thisLaw}}
                <h2 class="text-center">{{law}}</h2>
                <h3 class="text-center">{{paragraph}}</h3>
                <!--<div class="bar bar-positive">-->
                <div class="button button-full button-positive disabled" style="opacity: 100; background-color: #F3BF42; border-style: none; padding-top: 0.5em; padding-bottom: 0.5em;">
                    <!-- should probably use bar instead of button, but padding and center-text is destroyed.. -->
                    <h4 style="color:black; text-transform: uppercase;">{{oneline}}</h4>
                </div>
                <p style="padding-left: 1em; padding-right: 1em;">{{text}}</p>
            {{/with}}
            {{else}}
                {{> spinner}}
            {{/if}}
        {{/ionContent}}
        {{>mtabs}}
    {{/ionView}}
</template>
