<template name="linksLayout">
    {{> _linksHeader}}
    {{#ionView}}
        {{>ltabs}}
        {{#if Template.subscriptionsReady}}
            {{#HammerTouchArea gestureMap=templateGestures}}
                <div class="linksSwipe">
                    {{#ionContent class="padding has-tabs-top"}}
                        {{>yield "tabTemplate"}}
                    {{/ionContent}}
                </div>
            {{/HammerTouchArea}}
        {{else}}
            {{> spinner}}
        {{/if}}
        {{>mtabs}}
    {{/ionView}}
</template>

<template name="_linksHeader">
    {{#ionHeaderBar class="bar-positive"}}
        <h1 class="title">Lenker og nummer</h1>
    {{/ionHeaderBar}}
    {{#contentFor "headerButtonRight"}}
        {{> atNavButton}} <p>{{username}}</p>
    {{/contentFor}}
</template>

<template name='ltabs'>

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            {{#if One}}
                <a class="tab-item active" id="one">
                    Lenker
                    <!--<i class="icon ion-link" style="float:left;"></i>-->
                </a>
            {{else}}
                <a class="tab-item" id="one">
                    Lenker
                    <!--<i class="icon ion-link" style="float:left;"></i>-->
                </a>
            {{/if}}
            {{#if Two}}
                <a class="tab-item active" id="two">
                    Nummer
                    <!--<i class="icon ion-ios-telephone" style="float:right;"></i>-->
                </a>
            {{else}}
                <a class="tab-item" id="two">
                    Nummer
                    <!--<i class="icon ion-ios-telephone" style="float:right;"></i>-->
                </a>
            {{/if}}
        </div>
    </div>
</template>

<template name='urls'>
    {{#ionList}}
        {{#each urls}}
            {{#ionItem iconLeft=true buttonRight=true}}
                <a onclick="window.open('{{link}}', '_system', 'location=yes'); return false;">
                    {{> ionIcon icon="link"}}
                    <h2>{{title}}</h2>
                    <p>{{link}}</p>
                </a>
                {{#if currentUser}}
                    <a href="{{pathFor 'edit.url'}}" class="button button-clear pull-right">
                        {{> ionIcon icon="edit"}}
                    </a>
                {{/if}}
            {{/ionItem}}
        {{/each}}
    {{/ionList}}
    {{#if currentUser}}
        <a href="{{pathFor 'add.url'}}" class="button pull-right" func="add">
            {{> ionIcon icon="plus"}}
        </a>
    {{/if}}
</template>

<template name='numbers'>
    {{#ionList}}
        <div class="item item-divider text-center" style="border-bottom: 3px; border-bottom-style: solid; border-bottom-color: blue;">Eksterne nummer</div>
        {{#each numbersEkst}}
            {{#ionItem iconLeft=true buttonRight=true}}
                <a class="link" href="tel:{{number}}" target="_blank">
                    {{>ionIcon icon="ios-telephone"}}
                    <h2>{{title}}</h2>
                    <p>{{number}}</p>
                </a>
                {{#if currentUser}}
                    <a href="{{pathFor 'edit.number'}}" class="button button-clear">
                        {{> ionIcon icon="edit"}}
                    </a>
                {{/if}}
            {{/ionItem}}
        {{/each}}
        <div class="item item-divider text-center" style="border-bottom: 3px; border-bottom-style: solid; border-bottom-color: blue;">Interne nummer</div>
        {{#each numbersInt}}
            {{#ionItem iconLeft=true buttonRight=true}}
                <i class="icon ion-ios-telephone"></i>
                <h2>{{title}}</h2>
                <p>{{number}}</p>
                {{#if currentUser}}
                    <a href="{{pathFor 'edit.number'}}" class="button button-clear">
                        {{> ionIcon icon="edit"}}
                    </a>
                {{/if}}
            {{/ionItem}}
        {{/each}}
    {{/ionList}}
    {{#if currentUser}}
        <a href="{{pathFor 'add.number'}}" class="button pull-right" func="add">
            {{> ionIcon icon="plus"}}
        </a>
    {{/if}}
</template>
