<template name="links">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Lenker</h1>
    {{/contentFor}}
    {{#ionView}}
        {{#ionContent}}
            {{#if Template.subscriptionsReady}}
                {{#ionList}}
                    <!-- For each item in links (from the helper, check js file) -->
                    {{#each links}}
                        {{#ionItem}}
                            <!-- Link from urls collection -->
                            <!-- Maybe redirect can be done with Iron Router? -->
                            <a class="link item item-icon-left" href="#" onclick="window.open('{{link}}', '_system', 'location=yes'); return false;">
                                <h2><i class="icon ion-link"></i>{{link}}</h2>
                            </a>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{else}}
                {{> spinner}}
            {{/if}}
        {{/ionContent}}
        {{>mtabs}}
    {{/ionView}}
</template>
