<template name="mtabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Hjem" path="home" icon="android-home"}}
      {{> ionTab title="Lover" path="laws" icon="android-star"}}
      {{> ionTab title="Lenker" path="links" icon="android-globe"}}
      {{> ionTab title="Info" path="infos" icon="gear-b"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Hjem" path="home" iconOff="ios-home-outline" iconOn="ios-home"}}
      {{> ionTab title="Lover" path="laws" iconOff="ios-book-outline" iconOn="ios-book"}}
      {{> ionTab title="Lenker" path="links" iconOff="ios-world-outline" iconOn="ios-world"}}
      {{> ionTab title="Info" path="infos" iconOff="ios-information-outline" iconOn="ios-information"}}
    {{/ionTabs}}
  {{/if}}
</template>
