<template name="next">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Tilbake"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Neste</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#with current}}
        <p>{{text}}</p>
      {{/with}}
      {{#ionList}}
        {{#each link in currentLinks}}
          {{#ionItem}}
            {{#with to link}}
              <a href = "{{pathFor 'end'}}" class="button"> 
                <p>{{ link.mark }}</p>
              </a>
            {{/with}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
    {{>mtabs}}
  {{/ionView}}
</template>
