@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.buttonContainer {
  text-align: center;
  border-left: 10px solid #B2B2B2;
  background-color: #f8f8f8;
  p {
    color: #335DF1;
    font-size: 19px;
  }
  .firstLevelButton {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.buttonContainerActive {
  text-align: center;
  border-left: 10px solid #335DF1;
  background-color: #f8f8f8;
  p {
    color: #335DF1;
    font-size: 19px;
  }
  .buttonQuestion {
    padding: 10px;
  }
  .secondLevelButton {
    border: none;
    background-color: #335DF1;
    width: 45%;
    margin-bottom: 8px;
    p {
      color: #ffffff;
    }
  }
  .thirdLevelButton {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.link {
  text-decoration: none;
  color: #444;
}

.end {
  padding-top: 5px;
  padding-bottom: 5px;
}

.next {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tabs-striped.tabs-color-light .tab-item {
  color: white;
}

.editInfo {
  position: absolute;
  top: 0;
  right: 0;
}

// some of these might be grouped

.editCase {
  position: absolute;
  right: 40px;
  margin-top: -75px;
}

.removeCase {
  position: absolute;
  right: 0;
  margin-top: -75px;
}

.editFilter {
  float: right;
  right: 40px;
  margin-top: -50px;
}

// not yet applied
.removeFilter {
  float: right;
  right: 0;
  margin-top: -50px;
}

.editLaw {
  margin-right: 40px;
}